
$plubmskills-darkblue: #2e455c;
$plumbskills-lightblue: #CFECFA;
$plumbskills-lightbeige: #F6F1EC;


body {
    font-family: Montserrat,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 0.9rem;
    
}
section {
    padding: 0;
}

section:nth-child(2n + 1) {
    
    background-color: $plumbskills-lightbeige;
}

.container {
    padding-top: 3em;
    padding-bottom: 3em;
}

h1 {
    font-size: 5em !important;
    color: whitesmoke;
    color: $plubmskills-darkblue;
    font-weight: 700;
    .h1-vekony {
        font-weight: 500;
    };
}

h2 {
    margin-bottom: 1em;
    background-color:$plubmskills-darkblue;
    color: $plumbskills-lightblue;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-brand img {
    max-width: 125px;
}

.hero-image {
    background-image: url(/assets/images/plubskills_hero_2.png);
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    margin-top: 3 em;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .szlogen {
        font-size: 1.3rem;
        font-style: italic;
    }
}





footer {
    background-color: $plubmskills-darkblue;
    min-height: 100px;
    color: whitesmoke;
}

.hir-lead {
    position: relative;
    .reszletek {
        position: absolute;
        bottom: 0;
        left:10px;
    }

}

.hir {
    background-color: whitesmoke;
    padding: 15px;
    margin-bottom: 10px;
    h3 a {
        color: $plubmskills-darkblue;
        text-decoration: none;
        font-size: 1.3rem;
    };

}


.hir-datum {
    font-size: 0.8rem;
    margin-bottom: 10px;
}

.hir-kep img {
    max-width: 100%;
}

#hir-1 {
/*     background-image: url("/assets/images/ES2021_Graz_S15.png");
    background-repeat: none;
    background-size: cover;
 */}

 nav a {
     color: $plubmskills-darkblue !important;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 0.9rem
 }

 #kapcsolat a {
     text-decoration: none;
 }

 p {
    font-size: 0.9rem;
    line-height: 1.7rem;
 }

 .btn-secondary {
    /* background-color: #D69E6B; */
 }

/*  @media (min-width: 1200px) {
    .container{
        max-width: 1200px;
    }
    .nav > .container {
        max-width: 1200px;
    }
} */

.cell-img img {
    max-width: 100%
}

.team-row {
    margin-top: 25px
}

.social-icons img {
    height: 40px;
}